
services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: maze_db
      POSTGRES_USER: maze_user
      POSTGRES_PASSWORD: maze_pass

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://maze_user:maze_pass@db:5436/maze_db

volumes:
  postgres_data: